@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #252428;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    height: 100px;
}

#blender {
    text-decoration: none;
    color: #77ffc0;
    font-size: x-large;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    transition: all 0.3s ease 0s;
}

#blender:hover {
    color: #00ffff;
}

.tablediv {
    display: flex;
    justify-content: center;
}

table {
    width: 400px;
    border-collapse: collapse;
}

td, th {
    padding: 3px;
    border: 2px solid #140529;
}

thead {
    background-color: darkgrey;
}

#ids {
    padding-left: 20px;
    padding-right: 20px;
}

#pesquisar {
    color: white;
    width: 300px;
    background-color: #25242800;
    box-shadow: 1px 2px 4px #00ff88;
    height: 35px;
    border-radius: 8px;
}


.box-search {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 50px;
}

#buttonsrc {
    display: flex;
    border-radius: 8px;
    background-color: #00ff80;
    padding-top: 9px;
    cursor: pointer;
    width: 40px;
    height: 38px;
    padding-left: 10px;
    padding-bottom: 3px;
    
}

#buttonsrc:hover{
    background-color: #00ffff;
}

.num {
    text-align: right;
}


.nav-links {
    list-style: none;
}

.nav-links ul {
    display: none;
}
ul.nav-links {
    display: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.button-nav {
    text-decoration: none;
    padding: 7px 17px;
    margin-top: 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 30px -12px #00ff8052;
    transition: all 0.3s ease 0s;
}

.button-nav:hover {
    color: #2b134b;
    background: #00ffff;
    box-shadow: 0px 5px 20px -12px #77ffc0;
}

#edit{
    color: #00ff88;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

#edit:hover {
    color: #00ffff;
}

#delete {
    color: #9A1700;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

#delete:hover {
    color: #FF2100;
}

/* .button btn-danger {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50px;
} */


/* .btn-secondary{
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 30px -12px #00ff8052;
    transition: all 0.3s ease 0s;
}

.btn-secondary:hover {
    color: #4E1796;
    background: #00ffff;  
}

.btn-danger{
    margin-top: 9px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #2b134b;
    background: #9A1700;
    cursor: pointer;
    box-shadow: 0px 10px 30px -12px #00ff8052;
    transition: all 0.3s ease 0s;
}

.btn-danger:hover {
    color: #2B134B;
    background: #FF2100;
}

.btn-primary {
    text-decoration: none;
    font-size: initial;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 30px -12px #00ff8052;
    transition: all 0.3s ease 0s;
} */